<div class="header-content">
    <a href="/personalproject/index.html">
        <img  id="logo" src="/personalproject/src/images/logo.webp" alt="Logo image">
    </a>
    <div class="navbar-menu" ></div>
    <div id="container">
        <a href="/personalproject/src/account/account.html">
            <img id="account-image" src="/personalproject/src/images/account.webp" alt="Account image">
        </a>
        <div class="hamburguer">
            <span class="bar"></span>
            <span class="bar"></span>
            <span class="bar"></span>
        </div>
    </div>
</div>